# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)
print(type(number))

number = 8

print(number)
print(type(number))

6
<class 'int'>
8
<class 'int'>

##### Assinging float

In [2]:
num_float = 4.7

print(num_float)
print(type(num_float))

4.7
<class 'float'>

In [3]:
another_float = 6.
print(another_float)
print(type(another_float))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 3
num2 = 5.

result = num1 + num2
print(result)
print(type(result))

8.0
<class 'float'>

In [5]:
# short-hand version
result += 2 # result = result + 2
print(result)

10.0

##### Subtraction

In [6]:
difference = num2 - num1
print(difference)

# Short-hand version
difference -= 1 # difference = difference - 1
print(difference)

2.0
1.0

In [7]:
weird_result = 5.4 - 2
print(weird_result)

3.4000000000000004

##### Multiplication

In [8]:
product = num1 * num2
print(product)

# Short-hand version
product *= 2 # product = product * 2
print(product)

15.0
30.0

##### Division

In [9]:
quotient = num2 / num1
print(quotient)

# Short-hand version
quotient /= 2 # quotient = quotient / 2
print(quotient)

1.6666666666666667
0.8333333333333334

##### Floor Division

In [10]:
result_floor = 100 // 3
print(result_floor)

# Short-hand version
result_floor //= 2
print(result_floor)

33
16

##### Exponential

In [11]:
square = 5.0 ** 2
print(square)

# Short-hand version
square **= 2 # square = square ** 2
print(square)

25.0
625.0

In [12]:
square_root = 625 ** (1/2)
print(square_root)

25.0

##### Modulo

In [13]:
# Returns the remainder of the operation
result_mod = 29 % 5
print(result_mod)

# Short-hand version
result_mod %= 3
print(result_mod)

4
1

### String Input-Output

##### String Assignment

In [14]:
name = "Brian"
print(name)
print(type(name))

Brian
<class 'str'>

In [15]:
last_name = 'Stanton'
print(last_name)
print(type(last_name))

Stanton
<class 'str'>

In [16]:
possesive_string = "Brian's House"
print(possesive_string)

Brian's House

##### print() <br>
<p>Don't forget about end=' '</p>

In [17]:
print("First Name", name, "Last Name", last_name)
print("Hello")
print("Goodbye")

First Name Brian Last Name Stanton
Hello
Goodbye

##### String Concatenation

In [18]:
first_name = 'Brian'
last_name = 'Stanton'

full_name = first_name + " " + last_name
print(full_name)

# Short-hand version
full_name += ", Jr." # full_name = full_name + ", Jr."
print(full_name)

Brian Stanton
Brian Stanton, Jr.

##### Type Conversion

In [19]:
string_number = "47"
print(string_number)
print(type(string_number))
changed_number = float(string_number)
print(changed_number)
print(type(changed_number))
add_five = 5 + changed_number
print(add_five)

47
<class 'str'>
47.0
<class 'float'>
52.0

In [20]:
some_var = "3847.23948735908"
print(type(some_var))
new_var = float(some_var)
print(new_var)
print(type(new_var))

<class 'str'>
3847.23948735908
<class 'float'>

##### input()

In [21]:
# input() is a built-in function that will ask the end-user for input
# INPUT WILL ALWAYS RETURN A STRING -- ALWAYS

age = input("What is your age?")
print(age)
print(type(age))

add_age = int(age) + 5
print(add_age)

print(age)
print(type(age))

What is your age?26
26
<class 'str'>
31
26
<class 'str'>

##### .format()

In [22]:
name = input("What is your name? ")
age = int(input("What is your age? "))

greeting = "Hello my name is {} and I am {} years old".format(name, age)

print(greeting)

greeting_again = f"Hello my name is {name} and I am {age} years old"
print(greeting_again)

What is your name? Brian
What is your age? 35
Hello my name is Brian and I am 35 years old
Hello my name is Brian and I am 35 years old

In [23]:
concat_string = "Hello my name is " + name + " and I am " + str(age) + " years old"
print(concat_string)

Hello my name is Brian and I am 35 years old

##### Old Way (python 2)

In [24]:
old_greeting = "Hello my name is %s and I am %i years old" %(name, age)
print(old_greeting)

Hello my name is Brian and I am 35 years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [25]:
# Output: "My car is a blue 2021 Chevy Camero"

color = input('What is the color of your car? ')
year = input('What is the year of your car? ')
make = input('What is the make of your car? ')
model = input('What is the model of your car? ')


print(f"My car is a {color} {year} {make.title()} {model}")
print("My car is a {} {} {} {}".format(color, year, make.title(), model))

What is the color of your car? blue
What is the year of your car? 2021
What is the make of your car? Chevy
What is the model of your car? Camero
My car is a blue 2021 Chevy Camero
My car is a blue 2021 Chevy Camero

### If Statements

In [26]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# F && F = F
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5

print('Hello World')
if num1 > num2:
    print('The condition was true')
print("finished")

Hello World
finished

In [27]:
height = int(input("What is your height in inches? "))
if height < 60:
    weight = int(input("How much do you weigh"))
    if weight < 100:
        print('You cannot ride this ride')
    else:
        print('Welcome aboard')

What is your height in inches? 55
How much do you weigh110
Welcome aboard

In [28]:
# Truth Tree:
# T && F = F
# T && T = T
# F && F = F
# T || F = T
# F || T = T
# F || F = F

if 5 > 3 and 15 < 5:
    print('Both conditions are true')
    
if 5 > 3 or 15 < 5:
    print('At least one condition is true')

At least one condition is true

In [29]:
if 5 > 1 or 5 > 12 or 5 > 13 or 5 > 14 or 5 > 15:
    print('5 is great')

5 is great

#### Ternary

In [30]:
name = 'Brian' if 5 < 3 else 'Tatyana'
print(name)

Tatyana

##### 'is' keyword

In [31]:
# use the 'is' keyword when checking for same/similar object, NOT same value

list1 = ['Brian']
list2 = list1

if list1 == list2:
    print("The values are the same")
    
if list1 is list2:
    print('The reference is the same')

The values are the same
The reference is the same

In [32]:
print(id(list1))
print(id(list2))

2648549903232
2648549903232

##### 'in' keyword

In [33]:
char_name = 'Max Payne'

if 'M' in char_name:
    print("the character who lost everything...")

the character who lost everything...

##### 'not in' keyword'

In [34]:
char_name = 'Max Payne'

if 'z' not in char_name:
    print("the character who lost everything...")

the character who lost everything...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [35]:
address = input("What is the name of your street? ")

if 'p' in address.lower():
    print(f'The letter p is in {address}')

What is the name of your street? Polk
The letter p is in Polk

## Using 'and'/'or' with If Statements

In [36]:
# See above

### Elif Statements

In [37]:
get_in_price = 10

age_of_customer = int(input("What is your age? "))

if age_of_customer > 75:
    get_in_price *= .75
# elif will only be checked, if the condition DIRECTLY ABOVE evaluated to False
elif age_of_customer > 50:
    get_in_price *= .90
elif age_of_customer > 45:
    get_in_price *= .99
# else only runs when all if/elif(s) above are False
else:
    get_in_price *= 1.1
    
print("Thank you, your total is: ", get_in_price)

What is your age? 46
Thank you, your total is:  9.9

### Else Statements

In [38]:
# see above

### For Loops

In [39]:
name = 'Brian Stanton'

# name_iter = name.__iter__()
# name_iter.__next__()

# for *iter* in *iterable*:
for letter in name:
    print(letter)

B
r
i
a
n

S
t
a
n
t
o
n

In [40]:
for number in range(20):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [41]:
# name_iter = name.__iter__()
name_iter.__next__()

NameError: name 'name_iter' is not defined

##### Using 'in' keyword

In [ ]:
# see above

##### Break Statement

In [ ]:
# will break out of current loop

In [42]:
print("Loop Started")
for i in range(20):
    if i == 5:
        break
    print(i)
    
    
print("Loop Finished")

Loop Started
0
1
2
3
4
Loop Finished

##### Continue Statement

In [43]:
# will continue to next iteration

In [44]:
print("Loop Started")
for i in range(20):
    if i == 5:
        continue
    i = i ** 2
    print(i)
print("Loop Finished")

Loop Started
0
1
4
9
16
36
49
64
81
100
121
144
169
196
225
256
289
324
361
Loop Finished

##### Pass Statement

In [45]:
# mostly used as a placeholder, and will continue on same iteration

In [46]:
for i in range(20):
    if i == 5:
        pass #TODO: Come back and finish implementation
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Double For Loops or Nested Loop

In [47]:
num =3

for i in range(num):
    for j in range(num):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2

### While Loops

In [48]:
# Syntax: while conditional statement
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
print('Loop started')
name = ''
while name != 'Brian':
    print('That is an inferior name. Try again.')
    name = input('What is your name?')
print('Loop finished')

Loop started
That is an inferior name. Try again.
What is your name?
That is an inferior name. Try again.

##### Looping 'While True'

In [ ]:

while True:
    ask = input("Would you like to quit? y/n ")
    if ask.lower() == 'y':
        break
    print('Continue looping')

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print('While Loop Iteration: ' + str(num))
    
    for i in range(3):
        print('For Loop Iteration: ' + str(i))
    
    print()
    num += 1

### Built-In Functions

##### range()

In [ ]:
# range(stop) start will default to 0 and step will default to 1
# range(start, stop)
# range(start, stop, step)

for i in range(10, 20, 2):
    print(i)

##### len()

In [ ]:
# checks the length of an iterable object
name = 'Timothy'

length = len(name)
print(length)
print(type(length))

In [ ]:
for x in range(len(name)):
    print(x, name[x])

##### help()

In [ ]:
# Use this function to view more info about a python function (with a DOCSTRING)

help(str)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstance(var, obj)

isinstance(name, str)

if isinstance(4.5, float):
    print("This is a float")

In [ ]:
name1 = 'brian'
name2 = 'david'

In [ ]:
print(name1.upper(), name2)

In [ ]:
isinstance(name2, str)

##### abs()

In [ ]:
abs(-101)

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>